# Python
__pycache__/
*.py[cod]
venv/
.env
.env.*
*.egg-info/

# Node / Vue
node_modules/
dist/
dist-ssr/
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environments
.venv/
env/
ENV/
env.bak/
venv.bak/

# 敏感配置（绝对不能上传）
*.env
*.key
*.pem
